:root {
  --main-color: #4062bb;
  --white:#fff;
  --black: #0b101e;
  --gray: #b8b8b8;
  --font-family:"Poppins", sans-serif;
  --font-size-regular: 20px;
  --font-size-small: 12px;
  --border-radius-normal:8px;
  --border-radius-small:4px;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: var(--black);
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
  font-family: var(--font-family);
  font-size: var--(--font-size-regular);
  word-break: break-word;

}

a:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

h1 {
  font-size: 36px;
  line-height: 1em;
}

h2 {
  font-size: 2.207rem;
  line-height: 1em;
}

h3 {
  font-size: 1.697rem;
}

h4 {
  font-size: 1.306rem;
}

h5,
h6 {
  font-size: 1.004rem;
}
@media all and (min-width:767px){
  h1 {
    font-size: 48px;
    line-height: 1em;
  }

}
img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea,
.wp-comentarios form input[type="text"] {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 64.75rem;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}

.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

[class*="column"] + [class*="column"].end {
  float: left;
}

@media only screen {
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
  .small-1 {
    width: 16.66667%;
  }
  .small-2 {
    width: 33.33333%;
  }
  .small-3 {
    width: 50%;
  }
  .small-4 {
    width: 66.66667%;
  }
  .small-5 {
    width: 83.33333%;
  }
  .small-6 {
    width: 100%;
  }
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none;
  }
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left;
  }
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right;
  }
}

@media only screen and (min-width: 40.063em) {
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
  .medium-1 {
    width: 16.66667%;
  }
  .medium-2 {
    width: 33.33333%;
  }
  .medium-3 {
    width: 50%;
  }
  .medium-4 {
    width: 66.66667%;
  }
  .medium-5 {
    width: 83.33333%;
  }
  .medium-6 {
    width: 100%;
  }
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none;
  }
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left;
  }
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right;
  }
}

@media only screen and (min-width: 64.063em) {
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
  .large-1 {
    width: 16.66667%;
  }
  .large-2 {
    width: 33.33333%;
  }
  .large-3 {
    width: 50%;
  }
  .large-4 {
    width: 66.66667%;
  }
  .large-5 {
    width: 83.33333%;
  }
  .large-6 {
    width: 100%;
  }
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none;
  }
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left;
  }
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right;
  }
}

table {
  background: #ffffff;
  margin-bottom: 1.25rem;
  border: solid 1px #dddddd;
  table-layout: auto;
}

table caption {
  background: transparent;
  color: #222222;
  font-weight: bold;
}

table thead {
  background: #f5f5f5;
}

table thead tr th,
table thead tr td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
  color: #222222;
}

table tfoot {
  background: #f5f5f5;
}

table tfoot tr th,
table tfoot tr td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
  color: #222222;
}

table tr th,
table tr td {
  padding: 0.5625rem 0.625rem;
  color: #222222;
  text-align: left;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
  background: #f9f9f9;
}

table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
  display: table-cell;
  line-height: 1.125rem;
}

.alignleft {
  display: inline;
  margin: 0em 1em 0em 0em;
}

.alignright {
  display: inline;
  margin: 0em 0em 0em 1em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 750px) {
  .alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }
  .alignwide {
    margin-left: calc(25% - 25vw);
    margin-right: calc(25% - 25vw);
    width: auto;
    max-width: 1000%;
  }
}

.wp-caption {
  width: 100% !important;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: #1f1f1f;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

.single .content section a,
.page .content section a {
  text-decoration: underline;
}

.single .content section .wp-block-button__link,
.page .content section .wp-block-button__link {
  text-decoration: none;
}

.headernav {
  border-bottom: 2px solid transparent;
  margin-bottom: 0.5em;
}

.headernav .main-navigation {
  position: relative;
}

.headernav .main-navigation .redes {
  width: 100%;
  text-align: right;
}

.headernav .main-navigation .redes li:hover {
  background: transparent;
}

.headernav .main-navigation .redes li:hover a {
  color: var(--main-color) !important;
}

.headernav .main-navigation ul {
  /* position: relative; */
  padding: 0;
  margin: 0;
  /* text-align: left; */
  display: flex;
}

.headernav .main-navigation ul li {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.9s ease;
}

.headernav .main-navigation ul li a {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.headernav .main-navigation ul li.menu-item-has-children:after {
  content: " ";
  border: 10 solid black;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 4px;
}

.headernav .main-navigation ul li ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  width: 180px;
  float: left;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 8;
}

.headernav .main-navigation ul li ul li {
  width: 100%;
  text-align: center;
}

.headernav .main-navigation ul li ul li ul {
  left: 100%;
  top: 0;
}

.headernav .main-navigation ul li ul li.menu-item-has-children:after {
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.main-navigation ul li:hover > ul {
  -webkit-animation: showblock 0.7s;
  -moz-animation: showblock 0.7s;
  -ms-animation: showblock 0.7s;
  -o-animation: showblock 0.7s;
  animation: showblock 0.7s;
  display: block;
}

.navfooter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navfooter ul li {
  display: inline-block;
  margin: 1em;
  font-size: var(--font-size-small);
}

.navfooter ul li a {
  font-family: "Montserrat", sans-serif;
}

.navigation {
  text-align: center;
  clear: both;
  float: none;
  padding: 1px 0 35px;
}

.navigation ul {
  padding: 0;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: var(--main-color);
}

.navigation li {
  display: inline-block;
  margin: 0 2px;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  background-color: var(--main-color);
  border-radius: 3px;
  cursor: pointer;
  padding: 12px;
  padding: 0.75rem;
  color: var(--black);
}

.navigation li a:hover,
.navigation li.active a {
  background-color: #1f1f1f;
}

nav.menu-header-container {
  clear: both;
  text-align: left;
}

.facilius-buscador {
  text-align: center;
  color: blue;
  justify-content: flex-end;
}

.facilius-buscador label {
  cursor: pointer;
  visibility: hidden;
}

.searchform {
  max-width: 400px;
  display: inline-block;
}

.searchform input[type="text"] {
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  padding: 0.5em;
  border: 1px solid gray;
  width: 160px;
  margin: 0;
}
.facilius-buscador .searchform input[type="text"]{
  border-color:var(--main-color)

}

.searchform input[type="submit"] {
  width: 65px;
  margin-left: -6px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  background: var(--main-color);
  color: #fff;
}

#nav-below {
  display: flex;
  justify-content: space-between;
}

#nav-below div {
  width: 40%;
}

.nav-previous:before {
  content: " ";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
  margin-bottom: 4px;
}

.nav-next a:after {
  content: " ";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-bottom: 4px;
}

.cta {
  padding: 0.5em 0 0 0;
  text-align: right;
  display: inline-block;
  float: right;
}

@media only screen and (max-width: 64.063em) {
  .main-navigation {
    min-height: 44px;
  }
  .main-navigation .redes {
    text-align: left;
  }
  .main-navigation .redes li a {
    color: var(--main-color) !important;
  }
  .main-navigation .row {
    position: relative;
  }
  .main-navigation .row nav label {
    display: block;
    cursor: pointer;
    z-index: 10;
    margin: 0;
  }
  .main-navigation .row nav nav {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 9;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 80%;
    max-width: 400px;
    margin: auto;
    border-radius: 0.5em;
  }
  .main-navigation .row nav nav ul li {
    width: 100%;
    text-align: center;
  }
  .main-navigation .row nav [type="checkbox"]:checked ~ label {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5em;
  }
  .main-navigation.slide-in [type="checkbox"]:checked ~ label::after {
    background: none;
    width: 30px;
    transform: rotate(-45deg);
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
    top: 21px;
    box-shadow: 0px 4px 0px #929292;
  }
  .main-navigation.slide-in [type="checkbox"]:checked ~ label::before {
    background: none;
    box-shadow: 0px -6px 0px #929292;
    width: 30px;
    transform: rotate(45deg);
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
    top: 28px;
    right: 14px;
  }
  .main-navigation.slide-in .menuflotante {
    background: #ffffff;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }
  .main-navigation.slide-in .menuflotante:after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
    box-shadow: 0px 4px 0px var(--main-color);
    position: absolute;
    top: 25px;
    right: 13px;
  }
  .main-navigation.slide-in .menuflotante:before {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    content: "";
    margin: 0px;
    background: var(--main-color);
    box-shadow: 0px -6px 0px var(--main-color);
    transition: top ease 0.3s, transform ease 0.5s 0.5s;
    top: 23px;
    right: 13px;
  }
  .main-navigation.slide-in [type="checkbox"]:checked ~ .menuflotante:before {
    background: none;
    width: 30px;
    transform: rotate(45deg);
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
    top: 28px;
    right: 14px;
  }
  .main-navigation.slide-in .menu-header-container {
    position: fixed;
    width: 300px;
    right: -300px;
    top: 0;
    bottom: 0;
  }
  .main-navigation.slide-in .menu-header-container ul li {
    padding: 1.25rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .main-navigation.slide-in [type="checkbox"]:checked ~ label {
    background: #ffffff;
  }
  .main-navigation.slide-in [type="checkbox"]:checked ~ .menu-header-container {
    right: 0;
  }
  .main-navigation.slide-in nav.menu-header-container {
    border-radius: 0 !important;
  }
  .main-navigation.normal .menuflotante {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .main-navigation.normal .menuflotante:before {
    content: "";
    display: block;
    background: var(--main-color);
    width: 25px;
    height: 3px;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
    box-shadow: 0px 6px 0px var(--main-color), 0px 12px 0px var(--main-color);
    position: absolute;
    top: 12px;
    right: 8px;
  }
  .main-navigation.normal .menu-header-container {
    height: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 44px;
    display: none;
  }
  .main-navigation.normal .menu-header-container ul li {
    width: 100%;
    text-align: center;
  }
  .main-navigation.normal
    #nav[type="checkbox"]:checked
    ~ .menu-header-container {
    height: auto;
    display: block;
  }
}

@media only screen and (min-width: 64.063em) {
  .hideform {
    display: none;
    opacity: 0;
    transition: opacity 0.5s linear, max-height 0.5s linear;
  }
  .facilius-buscador label {
    visibility: visible;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  .facilius-buscador [type="checkbox"]:checked ~ label:before {
    content: "";
    border: 2px solid black;
    width: 20px;
    transform: rotate(-45deg);
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
    position: absolute;
    bottom: 25px;
    right: 10px;
  }
  .facilius-buscador [type="checkbox"]:checked ~ label:after {
    content: "";
    border: 2px solid black;
    width: 20px;
    transform: rotate(45deg);
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
    position: absolute;
    bottom: 25px;
    right: 10px;
    margin: 0;
    box-shadow: none;
    background: transparent;
  }
  .facilius-buscador [type="checkbox"]:checked ~ .searchform {
    display: block;
  }
  .facilius-buscador [type="checkbox"]:checked ~ .hideform {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s linear, max-height 0.5s linear;
    width: 247px;
  }
  .searchform {
    width: 322px;
  }
  .searchform input[type="text"] {
    
    width: 160px;
    height: 28px;
  }
  .searchform input[type="submit"] {
    border: none;
    height: 28px;
    font-weight: bold;
  }
}

#nichopress .headernav {
  background: #ecf0f1;
}

#nichopress .headernav .main-navigation {
  border-bottom: 4px solid transparent;
}

#nichopress .headernav .main-navigation ul li {
  padding: 0.5em 0.6em 0.5em 0.6em;
}

#nichopress .headernav .main-navigation ul li a {
  color: var(--main-color);
  font-family: "Montserrat", sans-serif;
}

#nichopress .headernav .main-navigation ul li a:hover {
  color: var(--main-color);
}

#nichopress .headernav .main-navigation ul li.current-menu-item:hover:before {
  content: "";
}

#nichopress .headernav .main-navigation ul li ul {
  background: var(--white);
  /* top: calc(100% + 4px); */
}

#nichopress .headernav .site-identity {
  font-size: 0 !important;
  padding: 1rem 0;
}

#nichopress .headernav .site-identity .columns {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  float: none !important;
}

#nichopress .headernav .site-identity .columns a {
  display: inline-block;
}

#nichopress .headernav .site-identity .columns a img {
  max-width: 200px;
}

#nichopress .headernav .site-identity .columns .site-title {
  font-size: 37px;
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  line-height: 1;
  margin: 0;
}

#nichopress .headernav .site-identity .columns .site-title a {
  color: var(--main-color);
}

#nichopress .headernav .site-identity .columns .site-title a:hover {
  color: #1f1f1f;
}

#nichopress .headernav .site-identity .columns.site-description h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-align: center;
  color: var(--main-color);
  margin: 1.3em 0;
}

.logoinicio {
  text-align: center;
}

.logoinicio [type="checkbox"] {
  position: absolute;
  margin: 0;
  visibility: hidden;
  /* display: none; */
}

.logoinicio a img {
  width: auto;
  padding: 0.3em;
  max-height: 50px;
}

ul.facilius-carrusel {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

ul.facilius-carrusel li {
  display: inline-block;
  padding: 0.2em;
}

.facilius-carta {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  /* max-width: 170px; */
  min-height: 38px;
  margin: 0.5em 0.4em;
  font-weight: 900;
  color: #fff;
  background-size: cover;
  background: var(--main-color);
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-small);
}

.facilius-carta:hover {
  background: #000;
}

.facilius-carta h3 {
  font-weight: 400;
  color: #fff;
}

.facilius-carta h3:hover {
  color: #fff;
}

.facilius-carta.card {
  margin-bottom: 0.2em;
}

.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}

.tns-nav > .tns-nav-active {
  background: #999;
}

.footer {
  border-top: 4px solid var(--main-color);
  text-align: center;
  padding: 35px 0;
}

.footer p {
  font-size: 0.75em;
  line-height: 1;
  margin: 0;
}

.footer .logo {
  padding: 25px 0;
}

.footer .logo img {
  max-width: 200px;
}

.footer .redes {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.footer .redes li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1em 0 1em;
  line-height: 2;
  width: 50px;
}

.footer .redes li a {
  color: var(--main-color);
}

.footer .redes li a:hover {
  color: var(--main-color);
  font-size: 1.4em;
}

.footermenu .facilius-buscador {
  display: none;
}

.footerwidget {
  width: 32%;
}

.adfooter {
  width: 100%;
}

footer aside.sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer aside.sidebar ul {
  text-align: left;
}

footer aside.sidebar ul li {
  list-style: none;
}

footer aside.sidebar ul li:before {
  content: "\2022";
  color: var(--main-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

footer aside.sidebar a {
  color: #fff;
  text-align: left;
}

.wp-comentarios {
  margin-bottom: 35px;
}

.wp-comentarios h2 {
  margin: 0;
  background: #fff;
  padding: 15px 25px;
  text-align: center;
}

.wp-comentarios h2:first-letter {
  color: var(--main-color);
}

.wp-comentarios > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
}

.wp-comentarios > ul .comment {
  border-top: 1px solid #ccc;
  padding: 25px;
  position: relative;
  font-size: 0;
}

.wp-comentarios > ul .comment p {
  padding: 0;
}

.wp-comentarios > ul .comment .comment-awaiting-moderation {
  font-size: 12px;
}

.wp-comentarios > ul .comment .commentmetadata {
  font-size: 11px;
}

.wp-comentarios > ul .comment .reply {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 0;
}

.wp-comentarios > ul .comment .reply a:before {
  font-size: 16px;
  content: "\e96a";
  font-family: "icomoon";
  color: #959595;
}

.wp-comentarios > ul .comment-author.avatar {
  width: 85px;
  display: inline-block;
  vertical-align: top;
}

.wp-comentarios > ul .comment-author img {
  border-radius: 50%;
  max-width: 65px;
  margin-right: 10px;
}

.wp-comentarios > ul .comment-author cite {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.wp-comentarios > ul .comment-text {
  width: calc(100% - 85px);
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.wp-comentarios > ul ul {
  border-top: 0;
  list-style: none;
  padding-left: 17%;
}

.wp-comentarios > ul ul li.comment {
  padding-left: 0;
}

.wp-comentarios form input[type="submit"] {
  background: var(--main-color);
  color: #fff;
  padding: 1em 2em;
  font-family: "Poppins", sans-serif;
  border: none;
  font-weight: bold;
  border-radius: var(--border-radius-normal);
  text-transform: uppercase;
  font-size: 1rem;
}

.wp-comentarios form textarea,
.wp-comentarios form input[type="text"] {
  max-width: 100%;
  border-radius: var(--border-radius-small);
  border: 1px solid gray;
}

.wp-comentarios form input[type="text"] {
  min-height: 40px;
}

.wp-comentarios form .form-submit {
  text-align: center;
}

form#commentform label {
  display: block;
}

form#commentform textarea#comment,
.wp-comentarios form#commentform input#comment[type="text"] {
  width: 100%;
}

form#commentform label {
  display: block;
}

textarea#comment,
.wp-comentarios form input#comment[type="text"] {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  border-radius: 2em 0 0 2em;
  padding: 0.5em;
  border: 1px solid gray;
}

h3#reply-title {
  text-align: center;
}

.comentarios {
  text-align: center;
  margin: auto;
}

.commentlist .vcard {
  display: inline-block;
  margin: 0;
  border: none;
  padding: 0;
}

.commentlist .reply {
  text-align: right;
}

.commentlist .reply:before {
  content: "\e96a";
  font-family: "icomoon";
}

.commentlist .commentmetadata {
  padding: 0 0 0 3em;
  margin: -0.5em 0 0 0;
}

.commentlist .commentmetadata a {
  font-size: 0.6em;
}

.commentlist .comment-body p {
  padding: 0 0 0 3em;
}

.commentlist ul.children {
  list-style: none;
  padding: 0 0 0 1em;
  border-left: 1px solid #d2d2d2;
  margin: 0 0 0 3em;
}

.commentlist cite.fn {
  margin: 0 0 0 0.6em;
}

.commentlist .comment {
  margin: 0 0 3em 0;
}

.attachment .entry-caption {
  text-align: center;
}

p.attachment {
  text-align: center;
}

#related-posts {
  padding-top: 35px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  width: auto;
}

#related-posts .postrelacionados {
  width: 48%;
  max-width: 300px;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

#related-posts .postrelacionados .entry-image img {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
}

#related-posts .postrelacionados .entry-title {
  margin: 0;
  text-align: center;
  line-height: 1;
  padding: 0.5em 0.5em;
}

#related-posts .postrelacionados .entry-title a {
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  color: #717171;
}

#related-posts .postrelacionados .entry-title a:hover {
  color: var(--main-color);
}

#related-posts .postrelacionados .thumbnail img {
  width: 100%;
  height: auto;
}

.incrustados {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.incrustados article {
  border-radius: 0.5em;
  max-width: 250px;
  width: 48%;
  margin-bottom: 1em;
}

.incrustados article img {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
}

.incrustados article .hlink {
  margin: 10px 0;
  line-height: 1;
  padding: 0 0.3em;
}

.hlinka {
  text-decoration: none !important;
  font-size: 1rem;
  text-decoration: none !important;
  line-height: 1;
  padding: 0 0.3em;
}

.card.horizontal {
  margin-bottom: 1em;
  border-radius: 1em;
}

.card.horizontal .entry-image {
  padding-left: 0px;
}

.card.horizontal .entry-image a {
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.card.horizontal .entry-image a img {
  height: auto;
  width: 100%;
  border-radius: 1em 0 0 1em;
  vertical-align: bottom;
}

.card.horizontal .entry-title {
  padding-left: 0;
  border: none;
  margin: 0.1em auto;
}

.card.horizontal .entry-title a {
  font-size: 1em;
  line-height: 1;
  margin-top: 5px;
  display: inline-block;
}

.card.horizontal section {
  margin: 0 !important;
  font-size: 0.8em;
}

.card.horizontal section p {
  text-align: justify;
  margin: 15px 0;
  font-size: 0.8px;
}

.card.horizontal section .read-more {
  margin: 0;
}

.card.horizontal section .categoriasenloop {
  font-size: 0.8em;
}

.card.horizontal section .totalcomentarios {
  padding: 0 0 0.3em 0;
  display: none;
}

.card.horizontal .boton,
.card.horizontal .nav-next a,
.nav-next .card.horizontal a {
  font-size: 0.8em;
}

.horizontal .articulos {
  margin: 0.5em 0.1em;
}

@media only screen and (orientation: portrait) {
  .horizontal article .entry-image {
    padding-right: 0;
    display: block;
    line-height: 0;
  }
  .navfooter ul li {
    display: block;
  }
}

@media screen and (min-width: 330px) {
  .card.horizontal .entry-title {
    padding-left: 0;
    border: none;
    margin: 0.1em auto;
  }
  .card.horizontal .entry-title a {
    font-size: 1em;
    line-height: 1;
    margin-top: 5px;
    display: inline-block;
  }
  .card.horizontal section {
    font-size: 0.95em;
  }
  .card.horizontal section .categoriasenloop {
    font-size: 0.8em;
  }
  .card.horizontal section .totalcomentarios {
    padding: 0.3em 0;
  }
  .card.horizontal .boton,
  .card.horizontal .nav-next a,
  .nav-next .card.horizontal a {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 400px) {
  .card.horizontal .entry-title {
    padding-left: 0;
    border: none;
    margin: 0.1em auto;
  }
  .card.horizontal .entry-title a {
    font-size: 1.1em;
    line-height: 1;
    margin-top: 5px;
    display: inline-block;
  }
}

.sin-imagen .card {
  margin-bottom: 2em;
}

.sin-imagen .entry-title {
  margin: 1em 0;
  display: inline-block;
}

.sin-imagen .entry-title a {
  font-size: 2rem;
}

.card {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-normal);
  text-align: center;
}

.articuloblogfeed {
  max-width: 500px;
  flex-basis: 90%;
  justify-content: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}
@media all and (min-width:600px){
  .articuloblogfeed {flex-basis: 32%;}
}

.entry-title a {
  color: var(--black);
}

.entry-title-post {
  text-align: center;
}

.entry-title-page {
  text-align: center;
}

p#breadcrumbs,
.rank-math-breadcrumb {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
}

.sidebar {
  text-align: left;
}

.sidebar img {
  border-radius: 0px;
}

.sidebar h2,
.sidebar h3 {
  text-align: center;
}

.avatar {
  margin: 0.5em;
}

.avatar img {
  border-radius: 5em;
}

.totalcomentarios {
  padding: 0.5em 0;
}

.boton,
.nav-next a {
  display: inline-block;
  padding: 0.5em 1em;
}

.boton a,
.nav-next a a {
  color: #fff !important;
  text-decoration: none !important;
}

.sharing {
  text-align: center;
  font-size: 1em;
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 35px;
}

.sharing a {
  width: 100%;
  display: inline-block;
  padding: 0.5em 0.1em;
  color: #fff;
  border-radius: 2em;
}

.sharing a.fb {
  background: #3b5999;
}

.sharing a.tw {
  background: #55acee;
}

.sharing a.wa {
  background: #25d366;
}

.sharing a.pn {
  background: #bd081c;
}

.sharing a:hover {
  opacity: 0.7;
}

.sharing svg {
  fill: #fff;
  max-width: 17px;
}

.sharing > .small-3 {
  padding: 0;
}

.metadatos {
  text-align: center;
  font-size: 0.8em;
}

.slotdos {
  width: 100%;
}

.adsheader {
  padding: 0.5em 0;
  margin: 0.5em 0;
  text-align: center;
}

.ad-inner-loop {
  margin-bottom: 35px;
  width: 100%;
  text-align: center;
  clear: both;
}

.category .descripcion-categoria {
  margin-bottom: 35px;
  text-align: center;
}

.infotitulocat {
  text-align: center;
}

.descripcion-inicio {
  margin-bottom: 35px;
  text-align: center;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?scfcl0");
  src: url("../fonts/icomoon.eot?scfcl0#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?scfcl0") format("truetype"),
    url("../fonts/icomoon.woff?scfcl0") format("woff"),
    url("../fonts/icomoon.svg?scfcl0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
  content: "\e96a";
}

.icon-search:before {
  content: "\e986";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-pinterest:before {
  content: "\ead1";
}

header .sharing {
  margin: 0 0 25px;
}

.hide-for-large-up {
  position: absolute;
}

@media only screen and (max-width: 500px) {
  .mobilenpnm {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footerwidget {
    width: 95%;
    margin: auto;
  }
}

@media (min-width: 763px) {
  .logoinicio a img {
    width: auto;
    padding: 0em;
    max-height: 75px;
    margin: 1em 0 0 0;
  }
  .vertical .articulos {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  p.comment-form-author {
    width: 49%;
    margin: 0;
    display: inline-block;
  }
  p.comment-form-email {
    width: 49%;
    margin: 0;
    display: inline-block;
  }
  p.comment-form-url {
    width: 49%;
    margin: 0;
    display: inline-block;
  }
  .card.horizontal .entry-title {
    padding-left: 0;
    border: none;
    margin: 0.5em auto;
  }
  .card.horizontal .entry-title a {
    font-size: 1.8em;
    line-height: 1;
    margin-top: 0.5em;
    display: inline-block;
  }
  .card.horizontal section {
    vertical-align: center;
    font-size: 1em;
  }
  .card.horizontal section .categoriasenloop {
    font-size: 1em;
  }
  .card.horizontal section .totalcomentarios {
    padding: 0.5em 0;
  }
  .card.horizontal .boton,
  .card.horizontal .nav-next a,
  .nav-next .card.horizontal a {
    font-size: 1em;
  }
}

.card.vertical footer {
  text-align: left;
  padding: 0 var(--border-radius-normal) var(--border-radius-normal) var(--border-radius-normal);
}
.card.vertical section.entry-title{
	padding: 0 var(--border-radius-normal);
}

.vertical .articulos {
  display: flex;
  flex-flow: wrap;
}

.vertical img {
  border-radius: var(--border-radius-normal) var(--border-radius-normal) 0 0;
  width: 100%;
}
.vertical h1 {
  font-size: 20px;
  text-align: left;
  margin: 14px 0;
}
.categoriasenloop {
  color: var(--gray);
  font-size:var(--font-size-small);
}
.card .boton {
    border: 1px solid var(--main-color);
    border-radius:var(--border-radius-small);
    width: 100%;
    text-align: center;
    font-size: var(--font-size-small);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}