
/* **********************************************************

>>>>>>>>>>>>>>>>>>>> TABLE OF CONTENTS <<<<<<<<<<<<<<<<<<<<<

BASE

NAVEGACIÓN

ESTRUCTURA

ADS



********************************************************** */
$font-h: 'Open Sans', cursive;
$font-body: 'Montserrat', sans-serif;
$menu-font: 'Montserrat', sans-serif;
$primary-color: #ff3300;
$secondary-color: rgb(31, 31, 31);
$footer-background: #ff3300;
$header-background: #ff3300;
$menu-link-color:#ff3300;

/*
>>>>>>>>>>>>>>>>>>>> BASE <<<<<<<<<<<<<<<<<<<<<
*/
@import'foundation';

@import 'nichopress/wordpress';

@import 'nichopress/base';

@import 'nichopress/navegacion';


@import 'nichopress/carrusel';


@import 'nichopress/footer';

@import 'nichopress/comments'; 
/*
>>>>>>>>>>>>>>>>>>>> COSMETICO <<<<<<<<<<<<<<<<<<<<<
*/
.attachment{
  .entry-caption{
    text-align: center;
  }
}
p.attachment{
  text-align: center;

}

@import 'nichopress/related';

@import 'nichopress/incrustor';

@import 'nichopress/gridvertical';

@import 'nichopress/gridhorizontal';

@import 'nichopress/gridnoimage';

.card{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin-bottom: 2em;
  text-align: center;
}
.articuloblogfeed{
  max-width: 500px;
  width: 95%;
  
}



table.wp-block-table {
  //width: 100%;
}


.entry-title{
  padding: 0 1em;
  
  a{
    color:$body-font-color;
    
  
    line-height: 0;
  }

}
.entry-title-post{
  
  text-align: center;
}
.entry-title-page {
  

  text-align: center;
}
p#breadcrumbs, .rank-math-breadcrumb {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
} 
.sidebar{
  text-align: left;
    img {
      border-radius: 0px;
    }
    h2,h3{
      text-align: center;
    }
} 



.avatar {
  margin: 0.5em;
  img {
    border-radius: 5em;
  }
}
.totalcomentarios{
  padding: 0.5em 0;
}


.boton{
  border-radius: 5em;
  background: $primary-color;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  box-shadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin:0 0 1em 0;
}
.boton a {
  color: #fff !important;
  text-decoration: none !important;
}
.sharing{
  text-align: center;
  font-size: 1em;
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top:35px;
    a{
      width: 100%;
      display: inline-block;
      padding: .5em 0.1em;
      color:#fff;
      border-radius: 2em;
      
      &.fb{
        background:#3b5999;      
      }
      &.tw{
        background:#55acee;
      }
      &.wa{
        background:#25d366;
      }
      &.pn{
        background: #bd081c;
      }
      &:hover{
        opacity: 0.7;
      }        
    }
  
  svg{
    fill:#fff;
    max-width: 17px;
  }

  
  & > .small-3{
    padding: 0;
  }
}
.metadatos{
  text-align: center;
  font-size: 0.8em;
}


/*
>>>>>>>>>>>>>>>>>>>> ADS <<<<<<<<<<<<<<<<<<<<<
*/
.slotdos{
  width:100%;
  //margin: 4.5em 0;
}

.adsheader{
  padding: 0.5em 0;
  margin: 0.5em 0;
  text-align: center;
}
.ad-inner-loop{
  margin-bottom:35px;
  width: 100%;
  text-align: center;
  clear: both;
}



/*
>>>>>>>>>>>>>>>>>>>> FINAL DE ARCHIVO <<<<<<<<<<<<<<<<<<<<<
*/


.category{
  .descripcion-categoria{
    margin-bottom:35px;
    text-align: center;
  }
}
.infotitulocat{
  text-align: center;
}
.descripcion-inicio{
  margin-bottom:35px;
  text-align: center;
}



// comienzo iconmoon
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?scfcl0');
  src:  url('../fonts/icomoon.eot?scfcl0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?scfcl0') format('truetype'),
    url('../fonts/icomoon.woff?scfcl0') format('woff'),
    url('../fonts/icomoon.svg?scfcl0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
  content: "\e96a";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-pinterest:before {
  content: "\ead1";
}



// FINAL ICONMOON

header{
 .sharing{
    margin: 0 0 25px;
 }
}

.hide-for-large-up{
  position:absolute;
}



@media only screen and (max-width: 500px) {
    .mobilenpnm{
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .footerwidget {
      width: 95%;
      margin: auto;
  }
}


/* DESKTOP / TABLET / PHONE HORIZONTAL */
@media (min-width:763px){
  .logoinicio a img {
    width: auto;
    padding: 0em;
    max-height: 75px;
    margin: 1em 0 0 0;
  }
  .vertical .articulos{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .articuloblogfeed{
      width: 48%;
  }
  p.comment-form-author {
    width: 49%;
    margin: 0;
    display: inline-block;
  }
  
  p.comment-form-email {
    width: 49%;
    margin: 0;
    display: inline-block;
  }
  
  p.comment-form-url {
    width: 49%;
    margin: 0;
    display: inline-block;
  }

  .card.horizontal{  
    .entry-title{    
      padding-left: 0;
      border:none;
      margin: 0.5em auto;
      a{
        font-size: 1.8em;
        line-height: 1;
        margin-top: 0.5em;;
        display: inline-block;
      }
    }
    section{
      vertical-align: center;
      font-size: 1em;
      .categoriasenloop{
        font-size: 1em;
      }
      .totalcomentarios{
        padding: 0.5em 0;
      }
    }
    .boton{
      //margin-top: 0.5em;
      font-size: 1em;
    }
  }

}