
/* **********************************************************

>>>>>>>>>>>>>>>>>>>> TABLE OF CONTENTS <<<<<<<<<<<<<<<<<<<<<

BASE

NAVEGACIÓN

ESTRUCTURA

ADS



********************************************************** */
$font-h: 'Baloo Bhai', cursive;
$font-body: 'Montserrat', sans-serif;

/*
>>>>>>>>>>>>>>>>>>>> BASE <<<<<<<<<<<<<<<<<<<<<
*/
@import'foundation';
@import'basics';
a{
  @include transition('all 0.3s ease');
  text-decoration: none;
 
  color: $primary-color;
  &:hover {
    color:$secondary-color;
  }
  &:focus {
    outline:0;
  }
  &:hover,
  &:active {
    outline:0;
  }
}
.iwrap{
  position:relative;
  width:100%;
  height:0;
  padding-bottom:56%;
  iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

body {
  font-family:$font-body;
  font-size: $body-font-size;
  color: $body-font-color;
  background: $background-color;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  //position:static;
  
}
h1,h2,h3,h4{
  font-family: $font-h;
  color:$primary-color;
}
.single, .page{
  section{
   
    font-size: 1.1em;    
  }
  .content{
    section{
      a{
        text-decoration: underline;
      }
      .wp-block-button__link{
        text-decoration: none;
      }
    }
  
  }


}
/*
>>>>>>>>>>>>>>>>>>>> NAVEGACIÓN  <<<<<<<<<<<<<<<<<<<<<
*/
.headernav {
  border-bottom: 2px solid transparent;
  margin-bottom: 0.5em;
  .main-navigation{
    position: relative;
    .redes{
      width:100%;
      text-align: right;
      li:hover{
        background:transparent;
        a{
          color: $primary-color !important;
        }
      }
    }
    ul {
      position: relative;
      padding: 0;
      margin: 0;
      li{
        position: relative;
        display: inline-block;
        -webkit-transition: all 0.3s ease;                  
        -moz-transition: all 0.3s ease;                 
        -o-transition: all 0.3s ease;   
        -ms-transition: all 0.3s ease;          
        transition: all 0.3s ease;
        a{
        
          font-weight: 700;
          font-family: $menu-font;
        }
        &.menu-item-has-children{
          &:after{        
            content: " ";
            border: 10 solid black;
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-bottom: 4px;
          }
        }
        ul {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          display: none;
          width:180px;
          float: left;
          left: 0;
          position: absolute;
          top: 100%;
          z-index: 8;
          li {
            width:100%;
            text-align:center;
            ul {
              left: 100%;
              top: 0;
            }
            &.menu-item-has-children{
              &:after{  
                display:inline-block;
                vertical-align:bottom;
                -webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                transform: rotate(270deg);
              }
            }
          }
        }
      }
    }
  }
}

/*CARRUSEL*/
ul.facilius-carrusel{
  list-style: none;
  padding: 0;
  margin: 0 auto;  
  text-align: center;
  li{
    display: inline-block;
    padding: 0.2em;
    

  }
}
.facilius-carta{
  
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  max-width: 170px;
  min-height: 80px;
  margin: 0.5em 0.4em;
  font-weight: 900;
  color: #fff;
  background: linear-gradient(
    #ff3300bb,  
    #ff3300bb
  ), url('//192.168.104:3000/wp-content/uploads/2018/09/13-lavidafreelance-520x310.jpg');
  background-size: cover;
  //font-weight:400;
  &:hover{
    background:#ff3300;
  }
  h3{
    font-weight: 400;
    color: #fff;
    //text-decoration: underline;
    &:hover{
      color:#fff;
    }
  }


}


.facilius-carta.card{
  margin-bottom: 0.2em;
}

.tns-nav > [aria-controls] {

  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;

}
.tns-nav > .tns-nav-active {

  background: #999;

}

/*Navegacion desplegable*/
.main-navigation ul li:hover>ul {
    -webkit-animation: showblock 0.7s;
    -moz-animation: showblock 0.7s;
    -ms-animation: showblock 0.7s;
    -o-animation: showblock 0.7s;
    animation: showblock 0.7s;
    display: block;
}

.navfooter{
  ul{
    list-style:none;
    padding:0;
    margin:0;
    li{
      display: inline;
      margin: 1em;
      a{
        font-family: $menu-font;  
            
      }
    }
  }
}


.navigation {
  text-align: center;
  clear:both;
  float:none;
  padding: 1px 0 35px;
  ul{
    padding:0;
  }
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: $label-text-color;
  
}
.navigation li {    
    display: inline-block;
    margin: 0 2px;
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  background-color: $primary-color;
  border-radius: 3px;
  cursor: pointer;
  padding: 12px;
  padding: 0.75rem;
}
.navigation li a:hover,
.navigation li.active a {
  background-color: $secondary-color;
}
nav.menu-header-container{
  font-size:1.2rem;
  clear: both;
  text-align: center;
}

.facilius-buscador{
  text-align: center; 
  color: blue;
  //display: block !important;
  label{
    cursor:pointer;
    //display: none;
    visibility: hidden;
  }
}

.searchform{
  max-width: 400px;
  display: inline-block;
  input[type=text]{
    border-radius: 2em 0 0 2em;
    padding: 0.5em;
    border: 1px solid gray;
    width: 160px;
    margin: 0;
  }
  input[type=submit]{
    width: 40px;
    margin-left: -6px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 0em 2em 2em 0;
    background: $primary-color;
    color: #fff;
    //border-left: none;
  }
}


#nav-below{
  display: flex;
  justify-content: space-between;
  div{
    width: 40%;
  }
}
.nav-previous{
  &:before{
    content: " ";
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    margin-bottom: 4px;
  }
}
.nav-next{
  a{
    @extend .boton;
    &:after{
      content: " ";
      border: solid #fff;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-bottom: 4px;
    }    
  }

}

/* cta */
.cta{
  /* background: #ff3300; */
  padding: 0.5em 0 0 0;
  text-align: right;
  display: inline-block;
    float: right;
}
/* DESKTOP PA ABAJO*/
@media only screen and (max-width: 64.063em){

  .main-navigation{
    min-height:44px;
    .redes{
      text-align:left;
      li{
        a{
          color: $primary-color !important;
        }
      }
    }
    .row{
      position:relative;
      nav{
        label {
          display: block;
          cursor: pointer;
          z-index:10;
          margin:0;
         /* &:after{

          }*/
        }
        nav{
          background: #fff;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          z-index: 9;
          -webkit-transition:0.5s;
          -moz-transition:0.5s;
          -o-transition:0.5s;
          transition:0.5s;
          width: 80%;
          max-width: 400px;
          margin:auto;
          
          border-radius: 0.5em;
          ul{
            li{
              width:100%;
              text-align:center;
              //border-bottom: 1px solid gray;
            }
          }
        }
        [type="checkbox"]:checked ~ label {
           // background: $secondary-color;
            background: #fff;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
            border-radius: 5em;
        }
        /*[type="checkbox"]:checked ~ nav {
          //background: $secondary-color;
         // border-radius: 0.5em;
          //border: 1px solid rgb(139, 139, 139);
        }*/

      }
    }
  }

  .main-navigation.slide-in{
    [type="checkbox"]:checked ~ label::after {
      background:none;
      width: 30px;
      transform: rotate(-45deg);
      transition: top ease .3s, transform ease .3s .3s;
      top: 21px;
      box-shadow: 0px 4px 0px #929292;
    }
    [type="checkbox"]:checked ~ label::before {
      background:none;
      //margin: 17px 12.5px;
      //box-shadow: 0px 6px 0px $secondary-color, 0px 12px 0px $secondary-color;
      //box-shadow: 0px 6px 0px $secondary-color;
      box-shadow: 0px -6px 0px #929292;
      width: 30px;
      transform: rotate(45deg);
      transition: top ease .3s, transform ease .3s .3s;
      
      top: 28px;
      right: 14px;
    }

    .menuflotante{
          background: #ffffff;
          width: 50px;
          height: 50px;
          position: fixed;
          right: 30px;
          bottom: 30px;
          border-radius: 50%;
          box-shadow: 0 0 12px rgba(0,0,0,0.3);
          &:after{
            content:'';
            display: block;
            width: 25px;
            height: 3px;
            transition: top ease .3s, transform ease .3s .3s;
            box-shadow: 0px 4px 0px $primary-color;
            position: absolute;
            top: 25px;
            right: 13px;
          }
          &:before{
            display: block;
            position: absolute;
            width: 25px;
            height: 3px;
            content: '';
            margin: 0px;
            background: $primary-color;
            box-shadow: 0px -6px 0px $primary-color;
            transition: top ease .3s, transform ease .5s .5s;
            top: 23px;
            right: 13px;
           
          }
        }
        [type="checkbox"]:checked ~ .menuflotante:before {
          background:none;
          //margin: 17px 12.5px;
          //box-shadow: 0px 6px 0px $secondary-color, 0px 12px 0px $secondary-color;
          //box-shadow: 0px 6px 0px $secondary-color;
          //box-shadow: 0px -6px 0px #929292;
          width: 30px;
          transform: rotate(45deg);
          transition: top ease .3s, transform ease .3s .3s;
          
          top: 28px;
          right: 14px;
        }
    .menu-header-container{          
        position: fixed;
        width:300px;
        right:-300px;
        top:0;
        bottom:0;
          ul{
            li{
              padding:1.25rem;
              text-align:left;
              border-bottom: 1px solid #ddd;
            }
          }
      }
      [type="checkbox"]:checked ~ label {
          background: #ffffff;
      }
        [type="checkbox"]:checked ~ .menu-header-container {
          right:0;
        }

  }
  .main-navigation.slide-in nav.menu-header-container {
      border-radius: 0 !important;
  }

  .main-navigation.normal{
    .menuflotante{
      width: 40px;
      height: 40px;
      position: absolute;
      right: 15px;
      top: 10px;

      &:before{
        content: '';
        display: block;
        background: $primary-color;
        width: 25px;
        height: 3px;
        transition: top ease .3s, transform ease .3s .3s;
        box-shadow: 0px 6px 0px $primary-color,0px 12px 0px $primary-color;
        position: absolute;
        top: 12px;
        right: 8px;
      }
    }
    .menu-header-container{
          height:0;
          position: absolute;
          right: 0;
          left: 0;
          top:44px;
          display: none;
          //overoverflow:hidden;
          ul{
            li{
              width:100%;
              text-align:center;
            }
          }
    }
    #nav[type="checkbox"]:checked ~ .menu-header-container {
      height:auto;
      display: block;
    }
    
  }


}

/* DESKTOP PA ARRIBA*/
@media only screen and (min-width: 64.063em){
  .hideform{
    display: none;
    opacity: 0;
    transition: opacity .5s linear, max-height .5s linear;
  }
  .facilius-buscador{
    label{
      visibility: visible;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    [type="checkbox"]:checked ~ label:before{
        content: '';
      border: 2px solid black;
      width:20px;
      transform: rotate(-45deg);
      transition: top ease .3s, transform ease .3s .3s;
      position: absolute;
      bottom: 25px;
      right: 10px;
    }
    [type="checkbox"]:checked ~ label:after{
      content: '';
      border: 2px solid black;
      width:20px;
      transform: rotate(45deg);
      transition: top ease .3s, transform ease .3s .3s;
      position: absolute;
      bottom: 25px;
      right: 10px;
      margin:0;
      box-shadow: none;
      background:transparent;
  }
    [type="checkbox"]:checked ~ .searchform{
      display:block;
    }

    [type="checkbox"]:checked ~   .hideform{
      display: inline-block;
      opacity: 1;
      transition: opacity .5s linear, max-height .5s linear;
      width: 400px;
    }
  }
  .searchform{
    width: 400px;
    input[type=text]{
      border:none;
      width:80%;
      height: 28px;
    }
    input[type=submit]{
      border:none;
      height: 28px;
      font-weight: bold;
    }
  }




}


/*
>>>>>>>>>>>>>>>>>>>> ESTRUCTURA <<<<<<<<<<<<<<<<<<<<<
*/
.thumbnail{
  overflow: hidden;
  position: relative;
  .overlay{
    font-weight: 700;
    font-family: $body-title-font;
    color:$primary-color;
    font-size: .8em;
    text-transform: uppercase;

    @include transition('all 0.3s ease');
    position: absolute;
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 0;
    opacity: 0;
    background: rgba(0,0,0,0.7);
  }

}
.thumbnail:hover{
  .overlay{
    bottom: 0em;
    color: #fff;
    opacity: 1;
  }
}

.centro{
  text-align: center;
}
.footer{
  background: $footer-background;
  color: $footer-color;
  border-top: 4px solid $primary-color;
  text-align: center;
  padding: 35px 0;
  
  p{
    font-size: .75em;
    line-height: 1;
    margin:0;
  }
  .logo{
    padding:25px 0;
    img{
      max-width:200px;
    }
  }
  .redes{
    margin:0 0 20px;
    padding:0;
    list-style:none;
    li{
      display:inline-block;
      vertical-align:middle;
      padding: 0 1em 0 1em;
      line-height: 2;
      width: 50px;
      a{
        color:$primary-color;
        
        &:hover{
          color:$primary-color;
          font-size:1.4em;        
        }
      }
    }
  }
}
.footermenu{
  .facilius-buscador{
    display: none;
  }
}
.wp-comentarios{
  margin-bottom: 35px;
  h2{
    margin:0;
    background:#fff;
    padding:15px 25px;
    text-align: center;
    &:first-letter{
      color:$primary-color;
    }
  }
  & > ul{
    list-style: none;
    padding:0;
    margin:0;
    background:#fff;
    .comment{
      border-top:1px solid #ccc;
      padding:25px;
      position:relative;
      font-size:0;
      p{
        padding: 0;
      }
      .comment-awaiting-moderation{
        font-size:12px; 
      }
      .commentmetadata{
        font-size:11px;
      }
      .reply{
        position: absolute;
        top: 25px;
        right:25px;
        font-size:0;
        a:before{
          font-size: 16px;
          content: '\e96a';
          font-family:'icomoon';
          color: #959595;
        }
      }
    }
    .comment-author{
      &.avatar{
        width: 85px;
        display:inline-block;
        vertical-align:top;
      }
      img{
        border-radius:50%;
        max-width:65px;
        margin-right:10px;
      }
      cite{
        font-family: $font-h;
        font-weight:bold;
        font-style:normal;
      }
    }
    .comment-text{
      width: calc(100% - 85px);
      display:inline-block;
      vertical-align:top;
      font-size: 16px;
    }
    ul{
      border-top:0;
      list-style:none;
      padding-left: 17%;
      li.comment{
        padding-left:0;
      }
    }
  }
  form{
    input[type=submit]{
      background: $primary-color;
      color:#fff;
      padding: 1em 2em;
      //font-size:18px;
      //text-transform:uppercase;
      font-family: $font-body;
      border:none;
      font-weight:bold;
      border-radius: 2em;
      text-transform: uppercase;
      font-size: 1rem;
    }
    textarea{
      max-width: 100%;
      border-radius: 2em;
      border: 1px solid $separator-color;
    }
    input[type=text]{
      @extend textarea;
      min-height: 40px;
    }
    .form-submit{
      text-align: center;
    }
  
    
  }

}
form#commentform{
  label {
    display: block;
  }
  textarea#comment{
    width: 100%;
  }

}

form#commentform label {
  display: block;
}

textarea#comment {
  width: 100%;
}




input[type=text] {
  width: 100%;
  border-radius: 2em 0 0 2em;
  padding: 0.5em;
  border: 1px solid gray;
}

h3#reply-title {
  text-align: center;
}




.comentarios {
  text-align: center;
  margin: auto;
}
.commentlist{
  .vcard {
    display: inline-block; 
    margin: 0; 
    border: none;
    padding: 0; 
  }
  .reply{
    text-align: right;
    &:before{
      content: '\e96a';
      font-family:'icomoon';
    }
  }
  .commentmetadata{
    padding: 0 0 0 3em;
    margin: -.5em 0 0 0;
    a {
      font-size: .6em;
    }
  }
  .comment-body{
    p{
      padding: 0 0 0 3em;
    }
  }
  ul.children {
    list-style: none;
    padding: 0 0 0 1em;
    border-left: 1px solid #d2d2d2;
    margin: 0 0 0 3em;
  }
  cite.fn {
    margin: 0 0 0 .6em;
  }
  .comment {
    margin: 0 0 3em 0;
  }
} 
/*
>>>>>>>>>>>>>>>>>>>> COSMETICO <<<<<<<<<<<<<<<<<<<<<
*/
.attachment{
  .entry-caption{
    text-align: center;
  }
}
p.attachment{
  text-align: center;

}
#related-posts{
  padding-top: 35px;
  background: $primary-color;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  //padding: 0.5em;

  .postrelacionados{
    width: 48%;
    max-width: 300px;
    background:$background-color;
    border-radius: 0.5em;
    margin-bottom: 1em;
    
   
    .entry-image{
      img{
        width:100%;
        border-radius: 0.5em 0.5em 0 0;
      }
    }
  .entry-title{
      //height: 80px;
      //vertical-align: middle;
      margin: 0;
      text-align: center;
      line-height: 1;
      padding:  0.5em 0.5em;
      
      a{
        //font-size:18px !important;
        font-size: 0.8em;
        
        //color: $menu-link-color;
        font-family: $font-body;
        color: #717171;
      
        &:hover{
          color:$primary-color;
        }
      }
    }
    .thumbnail{
      img{
        width:100%;
        height:auto;
      }
    }
  }
}
.wp-caption {
  width: 100% !important;
}
.incrustados{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  article{
    border-radius: 0.5em;
    max-width: 250px;
    width: 48%;
    margin-bottom: 1em;
    img{
      width:100%;
      border-radius: 0.5em 0.5em 0 0;
    }
    .hlink{
      margin:10px 0;
      line-height: 1;
      padding: 0 0.3em;

    }
  }
}
.hlinka{
 text-decoration: none !important; 
 font-size: 1rem;
 text-decoration: none !important;
 line-height: 1;
 padding: 0 0.3em;
}
.card{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin-bottom: 2em;
  text-align: center;
}
.articuloblogfeed{
  max-width: 500px;
  width: 95%;
  
}
.vertical .articulos{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 1em;
}
.horizontal .articulos{
  margin: 0.5em 0.1em;
}
.card.horizontal{  
  margin-bottom:1em;
  border-radius: 1em;
  /*&:after{
    content:'';
    clear:both;
    float:none;
    width:100%;
    display:inline-block;
  }*/
  .entry-image{
    padding-left: 0px;

    a{
      display: block;
      padding-bottom:0px;
      margin-bottom:0;
      img{
        height: auto;
        width: 100%;
        border-radius: 1em 0 0 1em;
        vertical-align: bottom;
        //margin-bottom: -19px;
       // padding-right: 3em;
      } 
    }
  }
  .entry-title{    
    padding-left: 0;
    border:none;
    margin: 0.1em auto;
    a{
      font-size: 1em;
      line-height: 1;
      margin-top: 5px;
      display: inline-block;
    }
  }
  section{
    margin:0 !important;
    font-size: 0.8em;
    p{
      text-align:justify;
      margin:15px 0;
      font-size:0.8px;
    }
    .read-more{
      margin:0;
      //float:right;
    }
    .categoriasenloop{
      font-size: 0.8em;
    }
    .totalcomentarios{
      padding: 0 0 0.3em 0;
      display: none;
    }
  }
  .boton{
    font-size: 0.8em;
  }
}
table.wp-block-table {
  width: 100%;
}

.vertical{
  img{
    border-radius: 1em 1em 0 0;
    width: 100%;
  }
}
.sin-imagen{
  .card{
    margin-bottom: 2em;
  }
  .entry-title{
    margin: 1em 0;
    display: inline-block;
    a{
      font-size: 2rem;
    }
    
  }
}
.entry-title{
  padding: 0 1em;
  
  a{
    color:$body-font-color;
    
    font-size: 1.5rem;
    line-height: 0;
  }

}
.entry-title-post{
  font-size: 2em;
  line-height: 1;
  text-align: center;
}
.entry-title-page {
  font-size: 2.5em;
  line-height: 1;
  text-align: center;
}
p#breadcrumbs, .rank-math-breadcrumb {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
}
.sidebar{
  text-align: left;
    img {
      border-radius: 0px;
    }
    h2,h3{
      text-align: center;
    }
} 
footer aside.sidebar{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
  //text-align: center;
  ul{
    text-align: left;
    li{
      list-style: none;
      &:before{
        content: "\2022";  
        color: $primary-color;
        font-weight: bold; 
        display: inline-block;
        width: 1em; 
        margin-left: -1em; 
      }
    }
  }
  a{
    color: #fff;
    text-align: left;
  }
}
.footerwidget{
  width:32%;
}
.adfooter{
  width: 100%;
}

.avatar {
  margin: 0.5em;
  img {
    border-radius: 5em;
  }
}
.totalcomentarios{
  padding: 0.5em 0;
}
.logoinicio{
    text-align: center;
    [type="checkbox"]{
      position:absolute;
      margin:0;
      visibility: hidden;
    }
}
.logoinicio a img{
  width:auto;
  padding: 0.3em;
  max-height: 50px;
}
.boton{
  border-radius: 5em;
  background: $primary-color;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  box-shadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin:0 0 1em 0;
}
.boton a {
  color: #fff !important;
  text-decoration: none !important;
}
.sharing{
  text-align: center;
  font-size: 1em;
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top:35px;
    a{
      width: 100%;
      display: inline-block;
      padding: .5em 0.1em;
      color:#fff;
      border-radius: 2em;
      
      &.fb{
        background:#3b5999;      
      }
      &.tw{
        background:#55acee;
      }
      &.wa{
        background:#25d366;
      }
      &.pn{
        background: #bd081c;
      }
      &:hover{
        opacity: 0.7;
      }        
    }
  
  svg{
    fill:#fff;
    max-width: 17px;
  }

  
  & > .small-3{
    padding: 0;
  }
}
.metadatos{
  text-align: center;
  font-size: 0.8em;
}


/*
>>>>>>>>>>>>>>>>>>>> ADS <<<<<<<<<<<<<<<<<<<<<
*/
.slotdos{
  width:100%;
  //margin: 4.5em 0;
}

.adsheader{
  padding: 0.5em 0;
  margin: 0.5em 0;
  text-align: center;
}
.ad-inner-loop{
  margin-bottom:35px;
  width: 100%;
  text-align: center;
  clear: both;
}



/*
>>>>>>>>>>>>>>>>>>>> FINAL DE ARCHIVO <<<<<<<<<<<<<<<<<<<<<
*/


.category{
  .descripcion-categoria{
    margin-bottom:35px;
    text-align: center;
  }
}
.infotitulocat{
  text-align: center;
}
.descripcion-inicio{
  margin-bottom:35px;
  text-align: center;
}



// comienzo iconmoon
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?scfcl0');
  src:  url('../fonts/icomoon.eot?scfcl0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?scfcl0') format('truetype'),
    url('../fonts/icomoon.woff?scfcl0') format('woff'),
    url('../fonts/icomoon.svg?scfcl0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
  content: "\e96a";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-pinterest:before {
  content: "\ead1";
}



// FINAL ICONMOON

header{
 .sharing{
    margin: 0 0 25px;
 }
}

.hide-for-large-up{
  position:absolute;
}
@media only screen and (orientation:portrait){
  .horizontal article{
    .entry-image{
      //padding-left: .9375rem;
      padding-right: 0;
      display: block;
      line-height: 0;
    }
  }
  .navfooter{
    ul{
      li{
        display: block
      }
    }
  }
}


@media only screen and (max-width: 500px) {
    .mobilenpnm{
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .footerwidget {
      width: 95%;
      margin: auto;
  }
}
#nichopress{  
  .headernav {
    background: $header-background;
    .main-navigation{
      border-bottom: 4px solid transparent;  
      //margin-bottom: 1em;
      ul {
        li{          
          border-bottom: transparent 4px solid;
          margin-bottom: -4px;
          padding: .5em .6em .5em .6em;
          a{
            color: $menu-link-color;
            font-family: $font-body;
            &:hover{
              color: $primary-color;
            }
            
            &:hover::before{
              content:'• ';
              color: $primary-color;
            }
          }
          &:hover, &.current-menu-item:before{
            content:'• ';
            color: $primary-color;
            //border-color: $secondary-color;
          }
          &.current-menu-item:hover:before{
            content: '';
          }
          ul {
            background:$header-background;
            top: calc(100% + 4px);            
          }
        }
      }
    }
    .site-identity {
      font-size:0 !important;
      padding:1rem 0;
      .columns{
        display:inline-block;
        text-align:left;
        vertical-align:middle;
        float:none !important;
        a{
          display:inline-block;
          img{
            max-width:200px;        
          }
        }
        .site-title{
          font-size: 37px;
          font-family: $menu-font;
          color:$menu-link-color;
          line-height: 1;
          margin:0;
          @include transition('all 0.3s ease');
          a{
            color:$primary-color;
            &:hover{
              color: $secondary-color;
            }
          }
        }
        &.site-description{
          h2{
            font-size: 18px;
            font-family: $menu-font;
            font-weight: normal;
            text-align: center;
            color:$menu-link-color;
            margin: 1.3em 0;
            @include transition('all 0.3s ease');      
          }
        }
      }
    }
  }
}
/* SMARTPHONES DE 5 PULGADAS PARA ARRIBA*/
@media screen and (min-width:330px){
  .card.horizontal{  
    .entry-title{    
      padding-left: 0;
      border:none;
      margin: 0.1em auto;
      a{
        font-size: 1em;
        line-height: 1;
        margin-top: 5px;
        display: inline-block;
      }
    }
    section{
      font-size: 0.95em;
      .categoriasenloop{
        font-size: 0.8em;
      }
      .totalcomentarios{
        padding: 0.3em 0;
      }
    }
    .boton{
      font-size: 0.8em;
    }
  }
}
/* 5.5 para arriba */
@media screen and (min-width:400px){
  .card.horizontal{  
    .entry-title{    
      padding-left: 0;
      border:none;
      margin: 0.1em auto;
      a{
        font-size: 1.1em;
        line-height: 1;
        margin-top: 5px;
        display: inline-block;
      }
    }
  }
}


/* DESKTOP / TABLET / PHONE HORIZONTAL */
@media (min-width:763px){
  .logoinicio a img {
    width: auto;
    padding: 0em;
    max-height: 75px;
    margin: 1em 0 0 0;
  }
  .vertical .articulos{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .articuloblogfeed{
      width: 48%;
  }
  p.comment-form-author {
    width: 49%;
    margin: 0;
    display: inline-block;
  }
  
  p.comment-form-email {
    width: 49%;
    margin: 0;
    display: inline-block;
  }
  
  p.comment-form-url {
    width: 49%;
    margin: 0;
    display: inline-block;
  }

  .card.horizontal{  
    .entry-title{    
      padding-left: 0;
      border:none;
      margin: 0.5em auto;
      a{
        font-size: 1.8em;
        line-height: 1;
        margin-top: 0.5em;;
        display: inline-block;
      }
    }
    section{
      vertical-align: center;
      font-size: 1em;
      .categoriasenloop{
        font-size: 1em;
      }
      .totalcomentarios{
        padding: 0.5em 0;
      }
    }
    .boton{
      //margin-top: 0.5em;
      font-size: 1em;
    }
  }

}