body {
    font-family:$font-body;
    font-size: 18px;
    color: #222222;
    
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    line-height: 1.6;
    //position:static;
    
  }


a{
    text-decoration: none;
   
    color: $primary-color;
    &:hover {
      color:$secondary-color;
    }
    &:focus {
      outline:0;
    }
    &:hover,
    &:active {
      outline:0;
    }
}


.single, .page{

    .content{
      section{
        a{
          text-decoration: underline;
        }
        .wp-block-button__link{
          text-decoration: none;
        }
      }
    
    }
  
  
  }
h1,h2,h3,h4{
    font-family: $font-h;
    color:$primary-color;
}



h1{
    font-size:2.869em;
    line-height:1em;
  }
  h2{
    font-size:2.207em;
    line-height:1em;
  }
  h3{
    font-size:1.697em;
  }
  h4{
    font-size:1.306em;
  }
  h5,h6{
    font-size:1.004em;
  }

