
.wp-comentarios{
    margin-bottom: 35px;
    h2{
      margin:0;
      background:#fff;
      padding:15px 25px;
      text-align: center;
      &:first-letter{
        color:$primary-color;
      }
    }
    & > ul{
      list-style: none;
      padding:0;
      margin:0;
      background:#fff;
      .comment{
        border-top:1px solid #ccc;
        padding:25px;
        position:relative;
        font-size:0;
        p{
          padding: 0;
        }
        .comment-awaiting-moderation{
          font-size:12px; 
        }
        .commentmetadata{
          font-size:11px;
        }
        .reply{
          position: absolute;
          top: 25px;
          right:25px;
          font-size:0;
          a:before{
            font-size: 16px;
            content: '\e96a';
            font-family:'icomoon';
            color: #959595;
          }
        }
      }
      .comment-author{
        &.avatar{
          width: 85px;
          display:inline-block;
          vertical-align:top;
        }
        img{
          border-radius:50%;
          max-width:65px;
          margin-right:10px;
        }
        cite{
          font-family: $font-h;
          font-weight:bold;
          font-style:normal;
        }
      }
      .comment-text{
        width: calc(100% - 85px);
        display:inline-block;
        vertical-align:top;
        font-size: 16px;
      }
      ul{
        border-top:0;
        list-style:none;
        padding-left: 17%;
        li.comment{
          padding-left:0;
        }
      }
    }
    form{
      input[type=submit]{
        background: $primary-color;
        color:#fff;
        padding: 1em 2em;
        //font-size:18px;
        //text-transform:uppercase;
        font-family: $font-body;
        border:none;
        font-weight:bold;
        border-radius: 2em;
        text-transform: uppercase;
        font-size: 1rem;
      }
      textarea{
        max-width: 100%;
        border-radius: 2em;
        border: 1px solid gray;
      }
      input[type=text]{
        @extend textarea;
        min-height: 40px;
      }
      .form-submit{
        text-align: center;
      }
    
      
    }
  
  }
  form#commentform{
    label {
      display: block;
    }
    textarea#comment{
      width: 100%;
    }
  
  }
  
  form#commentform label {
    display: block;
  }
  
  textarea#comment {
    width: 100%;
  }
  
  
  
  
  input[type=text] {
    width: 100%;
    border-radius: 2em 0 0 2em;
    padding: 0.5em;
    border: 1px solid gray;
  }
  
  h3#reply-title {
    text-align: center;
  }
  
  
  
  
  .comentarios {
    text-align: center;
    margin: auto;
  }
  .commentlist{
    .vcard {
      display: inline-block; 
      margin: 0; 
      border: none;
      padding: 0; 
    }
    .reply{
      text-align: right;
      &:before{
        content: '\e96a';
        font-family:'icomoon';
      }
    }
    .commentmetadata{
      padding: 0 0 0 3em;
      margin: -.5em 0 0 0;
      a {
        font-size: .6em;
      }
    }
    .comment-body{
      p{
        padding: 0 0 0 3em;
      }
    }
    ul.children {
      list-style: none;
      padding: 0 0 0 1em;
      border-left: 1px solid #d2d2d2;
      margin: 0 0 0 3em;
    }
    cite.fn {
      margin: 0 0 0 .6em;
    }
    .comment {
      margin: 0 0 3em 0;
    }
  }