.footer{
 
    border-top: 4px solid $primary-color;
    text-align: center;
    padding: 35px 0;
    
    p{
      font-size: .75em;
      line-height: 1;
      margin:0;
    }
    .logo{
      padding:25px 0;
      img{
        max-width:200px;
      }
    }
    .redes{
      margin:0 0 20px;
      padding:0;
      list-style:none;
      li{
        display:inline-block;
        vertical-align:middle;
        padding: 0 1em 0 1em;
        line-height: 2;
        width: 50px;
        a{
          color:$primary-color;
          
          &:hover{
            color:$primary-color;
            font-size:1.4em;        
          }
        }
      }
    }
  }
  .footermenu{
    .facilius-buscador{
      display: none;
    }
  }
  .footerwidget{
    width:32%;
  }

  .adfooter{
    width: 100%;
  }

  
  footer aside.sidebar{
    display: flex;
    flex-wrap: wrap;
      justify-content: space-between;
    //text-align: center;
    ul{
      text-align: left;
      li{
        list-style: none;
        &:before{
          content: "\2022";  
          color: $primary-color;
          font-weight: bold; 
          display: inline-block;
          width: 1em; 
          margin-left: -1em; 
        }
      }
    }
    a{
      color: #fff;
      text-align: left;
    }
  }