.incrustados{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    article{
      border-radius: 0.5em;
      max-width: 250px;
      width: 48%;
      margin-bottom: 1em;
      img{
        width:100%;
        border-radius: 0.5em 0.5em 0 0;
      }
      .hlink{
        margin:10px 0;
        line-height: 1;
        padding: 0 0.3em;
  
      }
    }
  }

  .hlinka{
    text-decoration: none !important; 
    font-size: 1rem;
    text-decoration: none !important;
    line-height: 1;
    padding: 0 0.3em;
   }