#related-posts{
    padding-top: 35px;
    background: $primary-color;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    //padding: 0.5em;
  
    .postrelacionados{
      width: 48%;
      max-width: 300px;
      
      border-radius: 0.5em;
      margin-bottom: 1em;
      
     
      .entry-image{
        img{
          width:100%;
          border-radius: 0.5em 0.5em 0 0;
        }
      }
    .entry-title{
        //height: 80px;
        //vertical-align: middle;
        margin: 0;
        text-align: center;
        line-height: 1;
        padding:  0.5em 0.5em;
        
        a{
          //font-size:18px !important;
          font-size: 0.8em;
          
          //color: $menu-link-color;
          font-family: $font-body;
          color: #717171;
        
          &:hover{
            color:$primary-color;
          }
        }
      }
      .thumbnail{
        img{
          width:100%;
          height:auto;
        }
      }
    }
  }